/*------------- All------- */
*{
    text-decoration: none !important;
    list-style: none; 
    font-family: 'Quicksand', sans-serif;;
}


/*------------- Nav------- */

.link-offline, .link-online{
    color:white !important;
}

.link-offline:hover, .link-online:hover{
    color:rgba(255, 255, 255, 0.378) !important;
    transition: 0.9s;
}

.link-offline:active, .link-online:active{
   transform: scale(1.1);
   transition: 1.2s;
}

.nav-online{
    background-color: rgba(14, 13, 23, 0.817)!important;
}

.user_active{
    color: rgb(96, 100, 104);
}
/*------------- end Nav------- */


/*------------- Home------- */

.div_organiza{
    margin-top: 20% !important;
   
}

.body_home{
    background-color: rgb(34, 64, 93);
    margin-top: 15% !important;
    color: white;
    padding:3%
    }


/*------------- end Home------- */

/*-------------tasks------- */
.table_content{
    color: black;
}

.table{
    margin-top: 1%;
}

.tasks_description{
    margin-right: 10% !important;
}

#id_title, #id_description {
    display: flex;
    justify-content: center;
}

/*-------------end tasks------- */


/*-------------sign up------- */
#id_username, #id_password1, #id_password2, #id_password{
    display: flex;
    justify-content: center;

}